**school** - аббервиатура школы  
**sex** - пол ученика (F - жен., М - муж.)  
**age** - возраст ученика (от 15 до 22)  
**address** - тип адреса ученика (U - городской, R - за городом)  
**famsize** - размер семьи (LE3 <= 3, GE3 >3)  
**Pstatus** - статус совместного жилья родителей (T - живут вместе, А - раздельно)  
**Medu** - образование матери (0 - нет, 1 - 4 класса, 2 - 5-9 классы, 3 - среднее специальное или 11 классов, 4 - высшее)  
**Fedu** - образование отца (0 - нет, 1 - 4 класса, 2 - 5-9 классы, 3 - среднее специальное или 11 классов, 4 - высшее)  
**Mjob** - работа матери (teacher - учитель, health - сфера здравоохранения, services -гос. служба, at_home - не работает, other - другое)  
**Fjob** - работа отца (teacher - учитель, health - сфера здравоохранения, services -гос. служба, at_home - не работает, other - другое)  
**reason** - причина выбора школы (home - близость к дому, reputation - репутация школы, course - образовательная программа, other - другое)  
**guardian** - опекун (mother - мать, father - отец, other - другое)  
**traveltime** - время пути до школы (1 - < 15 мин., 2 - 15-30, 3 - 30- 60, 4 - >60)  
**studytime** - время на учёбу помимо школы в неделю (1 - < 2 часов, 2 - 2-5, 3 - 5-10, 4 - >10)  
**failures** - кол-во внеучебных неудач (n, если 1<=n<=3, иначе 0)  
**shoolsup** - дополнительная образовательная поддержка (yes или no)  
**famsup** - семейная образовательная поддержка (yes или no)  
**paid** - дополнительные платные занятия по математике (yes или no)  
**activities** - дополнительные внеучебные занятия (yes или no)  
**nursery** - посещал детский сад или нет (yes или no)  
**higher** - хочет получить высшее образование (yes или no)  
**internet** - наличие интернета дома (yes или no)  
**romantic** - в романтических отношениях (yes или no)  
**famrel** - семейные отношения (от 1 - очень плохо до 5 - очень хорошо)  
**freetime** - свободное время после школы (от 1 - очень мало до 5 - очень много)  
**goout** - проведение времени с друзьями (от 1 - очень мало до 5 - очень много)  
**health** - текущее состояние здоровья (от 1 - очень плохо до 5 - очень хорошо)  
**absences** - количество пропущенных занятий  
**score** - баллы по госэкзамену по математике

In [3]:
import pandas as pd
stud = pd.read_csv('stud_math.csv')

In [4]:
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
0,GP,F,18,U,NaN,A,4.0,4.0,at_home,teacher,...,-6.0,yes,NaN,no,4.0,3.0,4.0,3.0,6.0,30.0
1,GP,F,17,U,GT3,NaN,1.0,1.0,at_home,other,...,-6.0,yes,yes,no,5.0,3.0,3.0,3.0,4.0,30.0
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,...,-6.0,yes,yes,NaN,4.0,3.0,2.0,3.0,10.0,50.0
3,GP,F,15,U,GT3,T,4.0,2.0,health,NaN,...,-9.0,yes,yes,yes,3.0,2.0,2.0,5.0,2.0,75.0
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,...,-6.0,yes,no,no,4.0,3.0,2.0,5.0,4.0,50.0