**school** - аббервиатура школы  
**sex** - пол ученика (F - жен., М - муж.)  
**age** - возраст ученика (от 15 до 22)  
**address** - тип адреса ученика (U - городской, R - за городом)  
**famsize** - размер семьи (LE3 <= 3, GE3 >3)  
**Pstatus** - статус совместного жилья родителей (T - живут вместе, А - раздельно)  
**Medu** - образование матери (0 - нет, 1 - 4 класса, 2 - 5-9 классы, 3 - среднее специальное или 11 классов, 4 - высшее)  
**Fedu** - образование отца (0 - нет, 1 - 4 класса, 2 - 5-9 классы, 3 - среднее специальное или 11 классов, 4 - высшее)  
**Mjob** - работа матери (teacher - учитель, health - сфера здравоохранения, services -гос. служба, at_home - не работает, other - другое)  
**Fjob** - работа отца (teacher - учитель, health - сфера здравоохранения, services -гос. служба, at_home - не работает, other - другое)  
**reason** - причина выбора школы (home - близость к дому, reputation - репутация школы, course - образовательная программа, other - другое)  
**guardian** - опекун (mother - мать, father - отец, other - другое)  
**traveltime** - время пути до школы (1 - < 15 мин., 2 - 15-30, 3 - 30- 60, 4 - >60)  
**studytime** - время на учёбу помимо школы в неделю (1 - < 2 часов, 2 - 2-5, 3 - 5-10, 4 - >10)  
**failures** - кол-во внеучебных неудач (n, если 1<=n<=3, иначе 0)  
**shoolsup** - дополнительная образовательная поддержка (yes или no)  
**famsup** - семейная образовательная поддержка (yes или no)  
**paid** - дополнительные платные занятия по математике (yes или no)  
**activities** - дополнительные внеучебные занятия (yes или no)  
**nursery** - посещал детский сад или нет (yes или no)  
**higher** - хочет получить высшее образование (yes или no)  
**internet** - наличие интернета дома (yes или no)  
**romantic** - в романтических отношениях (yes или no)  
**famrel** - семейные отношения (от 1 - очень плохо до 5 - очень хорошо)  
**freetime** - свободное время после школы (от 1 - очень мало до 5 - очень много)  
**goout** - проведение времени с друзьями (от 1 - очень мало до 5 - очень много)  
**health** - текущее состояние здоровья (от 1 - очень плохо до 5 - очень хорошо)  
**absences** - количество пропущенных занятий  
**score** - баллы по госэкзамену по математике  
Задача - отследить влияние условий жизни учащихся на их успеваемость по математике, чтобы выявить студентов группы риска.  
Провести разведывательный анализ и составить отчёт по результатам.  
Рекомендации по выполнению проекта:  
1. Провести первичную обработку данных. Так как данных много, стоит написать функции, которые можно применять к столбцам определённого типа.  
2. Посмотрите на распределение признака для числовых переменных, устраните выбросы.  
3. Оцените количество уникальных значений для номинативных переменных.  
4. По необходимости, преобразуйте данные.  
5. Проведите корреляционный анализ количественных переменных.  
6. Отберите не кореллирующие переменные.  
7. Проанализируйте номинативные переменные и устраните те, которые не которые не влияют на предсказываемую величину (в нашем случае на переменную score).  
8. Сформулировать выводы относительно качества данных и тех переменных, которые мы будем использовать в дальнейшем построении модели.

In [12]:
import pandas as pd

stud1 = pd.read_csv('stud_math.csv')
stud = stud1.copy()

In [13]:
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
0,GP,F,18,U,NaN,A,4.0,4.0,at_home,teacher,...,-6.0,yes,NaN,no,4.0,3.0,4.0,3.0,6.0,30.0
1,GP,F,17,U,GT3,NaN,1.0,1.0,at_home,other,...,-6.0,yes,yes,no,5.0,3.0,3.0,3.0,4.0,30.0
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,...,-6.0,yes,yes,NaN,4.0,3.0,2.0,3.0,10.0,50.0
3,GP,F,15,U,GT3,T,4.0,2.0,health,NaN,...,-9.0,yes,yes,yes,3.0,2.0,2.0,5.0,2.0,75.0
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,...,-6.0,yes,no,no,4.0,3.0,2.0,5.0,4.0,50.0

In [14]:
stud.describe()

,age,Medu,Fedu,traveltime,studytime,failures,"studytime, granular",famrel,freetime,goout,health,absences,score
count,395.000000,392.000000,371.000000,367.000000,388.000000,373.000000,388.000000,368.000000,384.000000,387.000000,380.000000,383.000000,389.000000
mean,16.696203,2.750000,2.614555,1.438692,2.038660,0.337802,-6.115979,3.937500,3.231771,3.105943,3.531579,7.279373,52.262211
std,1.276043,1.098127,2.228732,0.694181,0.842078,0.743135,2.526235,0.927277,0.993940,1.115896,1.396019,23.465197,22.919022
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,-12.000000,-1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,-6.000000,4.000000,3.000000,2.000000,3.000000,0.000000,40.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,-6.000000,4.000000,3.000000,3.000000,4.000000,4.000000,55.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,-3.000000,5.000000,4.000000,4.000000,5.000000,8.000000,70.000000
max,22.000000,4.000000,40.000000,4.000000,4.000000,3.000000,-3.000000,5.000000,5.000000,5.000000,5.000000,385.000000,100.000000